credit-visualization-timeline {
   display: block;

   width: 1024px;

   margin: 0 auto;

   padding: 0.125em 0;
}

credit-visualization-timeline header {
   border-bottom: 1px solid grey;

   font-size: 1.5em;
}

credit-visualization-timeline .scrollpane {
   max-height: 31em;

   border: inset 1px;
   border-radius: 0.25em;
   box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.50) inset;

   padding: 2em;

   overflow-y: auto;
}

credit-visualization-timeline .timeline-list {
   border-collapse: collapse;

   margin: 0 auto;

   text-align: left;
}

credit-visualization-timeline .change-record td {

   padding: 0.5em;

   max-width: 40em;
}

/*credit-visualization-timeline .change-record .time {*/
/*display: inline-block;*/

/*min-width: 5em;*/
/*padding-right: 1em;*/
/*}*/

/*credit-visualization-timeline .change-record .name,*/
/*credit-visualization-timeline .change-record .category,*/
/*credit-visualization-timeline .change-record .document {*/

/*display: inline-block;*/

/*min-width: 12em;*/
/*}*/

credit-visualization-timeline .change-record .document {
   min-width: 15em;
}

credit-visualization-timeline .change-record a {
   color: inherit;

   text-decoration: none;
}

credit-visualization-timeline .change-record a:hover {
   text-decoration: underline;
}
