credit-visualization {
   display: block;
   position: relative;

   padding: 1em 0;
}

credit-visualization header {
   margin-bottom: 1em;
}

credit-visualization svg .bar {
   fill: steelblue;
}

credit-visualization svg .axis path {
   display: none;
}

credit-visualization svg g.series rect.highlight {
   stroke: black;
   stroke-width: 1px;
}

credit-visualization svg g.series text {
   display: none;

   text-anchor: middle;
   alignment-baseline: middle;

   fill: black;
   font-size: 1.25em;
   font-weight: bold;
   stroke: white;
   stroke-width: 0.03em;

   pointer-events: none;
}

credit-visualization svg g.series text.highlight {
   display: inherit;
}

credit-visualization svg text.total-label {
   display: none;

   text-anchor: middle
}

credit-visualization svg text.total-label.highlight {
   display: inherit;

   font-size: 1.25em;
}

credit-visualization svg a text:hover {
   text-decoration: underline;
}

credit-visualization svg .legend .highlight text {
   font-size: 110%;

   cursor: default;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
}

credit-visualization svg .legend .highlight rect {
   stroke: black;
   stroke-width: 2px;
}

credit-visualization svg .notice-label text {
   fill: white;

   text-anchor: middle;
}

credit-visualization svg .notice-label rect {
   padding: 1em;

   fill: rgba(51, 51, 51, 0.61);
}

credit-visualization svg .title a {
   font-style: italic;
}

credit-visualization svg .title a:hover {
   text-decoration: underline;
}

credit-visualization .embed-popup {
   position: absolute;

   top: 33%;
   right: 25%;
   z-index: 5;

   max-width: 50%;

   box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);

   border-radius: 0.1em;

   padding: 1em;

   background: #fff;
}

credit-visualization .embed-popup code {
   display: block;

   margin-bottom: 1em;

   border: 1px inset grey;
   border-radius: 0.1em;

   padding: 0.5em;

   background: rgb(242, 242, 242);

   text-align: left;
}

credit-visualization .overlay {
   position: absolute;

   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 2;

   background: rgba(0, 0, 0, 0.3);
}