@import 'mixins/all';

credit_visualization {
   display: block;

   svg {
      //rect {
      //   fill: steelblue;
      //}
      //
      //text {
      //   fill: white;
      //   font: 10px sans-serif;
      //   text-anchor: end;
      //}

      .bar {
         fill: steelblue;
      }

      .axis path {
         display: none;
      }

      g.series {
         rect {
            //stroke: black;
            //stroke-width: 0px;

            &.highlight {
               stroke: black;
               stroke-width: 1px;
               //cursor: pointer;
            }
         }
      }

      g.labels {
         text {
            display: none;

            text-anchor: middle;
            alignment-baseline: middle;
            z-index: 1000;

            fill: white;
            font-size: 1.25em;
            font-weight: bold;
            stroke: black;
            stroke-width: 0.05em;

            pointer-events: none;

            &.highlight {
               display: inherit;
            }
         }
      }

      .legend .highlight {
         text {
            font-size: 110%;

            cursor: default;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
         }

         rect {
            //stroke: red;
            stroke: black;
            stroke-width: 2px;
            //cursor: pointer;
         }
      }

      .notice-label {
         text {
            fill: white;

            text-anchor: middle;
         }

         rect {
            padding: 1em;

            -webkit-filter: drop-shadow(-5px -5px 5px #000);
            filter: drop-shadow(-5px -5px 5px #000);

            fill: rgba(51, 51, 51, 0.61);
         }
      }
   }
}